/* Esto es un comentario */
/* Selectores de css
*{
propiedad: valor
}

Tipos de selectores

universal *
etiqueta p
clase .nombreInventado
id #nombreUnico
*/
* {
  margin: 0%;
  padding: 0%;
}

nav {
  background-color: #2c6ed1;
  padding: 20px 30px;
}
nav a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
}
