/* Esto es un comentario */
/* Selectores de css
*{
propiedad: valor
}

Tipos de selectores

universal *
etiqueta p
clase .nombreInventado
id #nombreUnico
*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0%;
  padding: 0%;
}

body{
  font-family: "Ubuntu", sans-serif;
}

/*aqui comienza el navbar*/
nav {
  background-color: #2c6ed1;
  padding: 20px 30px;
}
nav a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
}
/*hover es un estado especial de la etiqueta, es decir que cuando pase el mouse por arriba de inio, elementos y demas se vera un subrayado.*/

nav a:hover {
  text-decoration: underline;
}

/*aqui finaliza nav*/

footer{
  background-color: rgb(27, 25, 25);
  color: aliceblue;
  text-align: center;
  padding: 30px;
}

.container{
  margin: 30px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 15px 0px;
  font-family: "Ubuntu", sans-serif;
}

p{
  margin-bottom: 10px;
}

#articleHTML{
  background-color: hsl(199, 100%, 84%);
  padding: 10px;
  border-radius: 15px;
}

#articleCSS{
  background-color: hsl(256, 100%, 95%);
  margin-top: 10px;
  padding: 10px;
  border-radius: 15px;
}

ul,ol{
  list-style-position: inside; /*ubica los puntos y nros de los items dentro del texto o bloque de texto*/
}

li ul{ /*toma los ul que estan dentro de un li*/
  margin-left: 20px;
}

/*estilizando tabla*/

table, th, td{ /*define los bordes*/
  border: 1px solid #4747ff;
}

table{ /*rellena las lineas de los bordes antes definidos*/
  border-collapse: collapse;
}

th, td{ /*le da espacio a las filas*/
  padding: 5px;
}

thead{ /*para destacar el encabezado, lo pinta y cambia el color de la letra*/
  background-color:#4747ff;
  color: aliceblue;
}

/*ejemplo de pseudo-clase*/
/*odd selecciona los hijos impares, los pares son even*/
tbody tr:nth-child(odd){
  background-color: rgb(167, 205, 237);
}

/*ejemplo de pseudo-elemento*/
.title{
  color: #ffffff;
}
/*toma la primera letra del titulo*/
.title::first-letter{
  font-size: 45px;
}
.featured-paragraph::first-line{
  font-style: italic;
}

/*estilizando los buttons*/
.button{
  /*font-family: "Ubuntu", serif;*/
  border-radius: 40px;
  border: none;
  padding: 12px 12px;
  text-align: center;
  font-size: 16px;
  margin: 10px;
  box-shadow: 2px 5px 10px #c2c1c1;
  font-weight: 600;
}

.node{
 background-color: #23ec77;
  color: white;
  transition: 300ms;
}
.node:hover{
  background: #19984e;
}

.express{
  background-color: yellow;
  color: black;
  transition: 300ms;
}
.express:hover{
  background: #eeff91;
}

.db{
  background-color: #2c6ed1;
  color: aliceblue;
  transition: 300ms;
}
.db:hover{
  background: #1616a0;
}

/*linea de division*/
.linea{
  border: 1px solid rgb(197, 213, 255);
  margin-top: 10px;
}
img{
  width: 100%;
}
form{
  background-color: white;
  width: 400px;
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

div input, select{
  margin: 5px 0px;
  padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
  
}

div textarea{
  width:100%;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;			
	margin:8px 0;
	resize:none;
}

div label{
  
}

.btn-enviar{
  border-radius: 10px;
  border: none;
  padding: 12px 12px;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  background-color: rgb(12, 62, 199);
  margin: 10px;
  box-shadow: 2px 5px 10px #c2c1c1;
  font-weight: 600;
  transition: 300ms;
}

.btn-enviar:hover{
background-color: #1616a0;
}